@import url("all.min.css");
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: "Tahoma";
}
.container {
    padding-right: 15px;
    padding-left: 15px;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
/* Start Header */
header {
    top: 0;
    left: 0;
    width: 100%;
    background-color: #1a1919;
    opacity: 0.8;
    
}
header .row {
    align-items: center;
    justify-content: space-between; 
}
header .logo{
    flex: 0 0 20%;
    max-width: 20%;
    padding-right: 15px;
    padding-left: 15px;
}
header .logo img {
    width: 70px;
    height: 90px;
}
header .menu {
    flex: 0 0 60%;
    max-width: 60%;
    padding-right: 15px;
    padding-left: 15px;
}

header .menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
header .menu ul li {
    display: inline-block;
    margin-right: 18px;
    margin-left: 18px;
}
header .menu ul li a {
    text-transform: uppercase;
    text-decoration: none;
    color:#fff;
    font-weight: bold;
    transition: all 300ms;
}
header .menu ul li a:hover {
    color: #00acff;
}
/* End Header */
/* Start Hero */
main .hero {
    background-image: url("../img/main-1-bg-01-gl-fa-2048x1365.jpg");
    background-size: cover;
    height:114vh;
    padding-top: 0px;
    text-align: center;
    margin-top: -100px;
}
 main .hero .company {
    padding-top: 550px;
    padding-right: 50px;
    text-align: right;
    color: #fff;
 }
 /* end header */
 .product {
   display: flex;
    color: #111;
    transition: all 300ms;
    text-align: center;
    background-color: #fff;
    
}
.product .pic h2:hover {
    background-color: #00acff;
    color: #fff;
    box-shadow: 0 0 10px rgba(0,172,255,0.5);
}
.product .pic {
    flex: 0 0 25%;
    max-width: 25%;
}
 .product .pic img {
    width: 250px;
    height: 230px;
 }
 .baner {
    color: #111;
    background-color: greenyellow;
    width: 100%;
    text-align: center;
    font-weight: bolder;
    height: 50px;
    padding-top: 15px;
 }
 .news {
    background-color: #111;
    height: 600px;
 }
 .news .title {
    color: rgb(32, 214, 32);
    text-align: center;
    margin-bottom: 50px;
    padding-top: 50px;
 }
  .title span {
    color: #fff;
    margin-right: 20px;
 }
 .news .window {
    display: flex;
    flex-wrap: wrap;
 }
  .news .win {
    flex: 0 0 20%;
    max-width: 20%;
    height: 50px;
    text-align: center;
    margin-bottom: 180px;
    
    
 }
  .win span {
    color: #fff;
    display: block;
    margin-top: 15px;
    
 }
 /* start app */
 .app .container {
    display: flex;
    width: 100%;
    background-color: #c9c7c7;
 }
.app .container .left {
    flex: 0 0 65%;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}
.app .container .left {
    padding-top: 50px;
}
.app .container .right {
    flex: 0 0 35%;
    background-color: green;
    text-align: center;
    padding-top: 30px;
}
 .app .logo h3 {
    color: #fff;
    margin-bottom: 70px;
    
    
}
.app .elementor a {
    background-color: rgb(6, 207, 140);
    padding: 10px 10px;
    text-decoration: none;
    margin-bottom: 30px;
    border-radius: 10px;
    transition: all 500ms;
}
.app .elementor a:hover {
    background-color: #111;
    color: #fff;
}

 .app.elementor {
    margin-bottom: 40px;
    

}
.app .cluom {
    width: 30vw;
    text-align: center;
    padding-left: 45px;
}
/* start news */
.final .container {
    background-color: #c9c7c7;
    padding-top: 40px;
}
.final .container h2 {
    text-align: center;
    padding-top: 30px;
    display: block;
}
.final .container .row {
    display: flex;
    margin-top: 20px;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    flex-direction: row-reverse;
}
.final .container .elementor {
    flex: 0 0 33.33%;
    padding-right: 20px;
    padding-left: 20px;
    
    

}
.final .container .elementor img {
    margin-bottom: 5px;
    width: 420px;
    height: 270px;
    text-align: right;
    transform: translateX(16px);
}
.final .container .elementor h3{
    color: #111;
    margin-bottom: 5px;
    text-align: right;
    
}

.final .container .elementor a,
.final .container .elementor p {
    text-align: right;
    display: block;
    
}
.final .container .elementor a {
    margin-bottom: 20px;
}
/* start footer */


.end .container {
    display: flex;
    background-color:  #2e5751;
}
.end .container .left {
    flex: 0 0 50%;
    max-width: 50%;
    display: flex;
    text-align: right;
   
}
.end .container .right {
    display: inline-block;
    flex: 0 0 45%;
    max-width: 45%;
}

.end .container .left ul {
    
    display: inline-block;
    margin-right: 30px;
    
}
.end .container .left li {
    list-style: none;
    background: rgba(0,0,0,.1);
    color: #ccc;
    width: 200px;
    height: 50px;
    text-align: center;
  padding-top: 11px;
  margin-bottom: 5px;
  transition: all 500ms;
  outline: none;
    
}
.end .container .left li a{
    border: 1px solid rgba(0,0,0,.04);
    text-decoration: none;
    color:#fff;
    

}
.end .container .left li:hover {
    background-color: #111;
}

.end .container .left {
    display: flex;
    text-align: right;
    margin-top: 40px;
    margin-right: 30px;
}
.end .container .right {
    text-align: right;

}


