@import url("all.min.css");
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: "Tahoma";
}
.container {
    padding-right: 15px;
    padding-left: 15px;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
/* Start Header */
header {
    top: 0;
    left: 0;
    width: 100%;
    background-color: #1a1919;
    opacity: 0.8;
    
}
header .row {
    align-items: center;
    justify-content: space-between; 
}
header .logo{
    flex: 0 0 20%;
    max-width: 20%;
    padding-right: 15px;
    padding-left: 15px;
}
header .logo img {
    width: 70px;
    height: 90px;
}
header .menu {
    flex: 0 0 60%;
    max-width: 60%;
    padding-right: 15px;
    padding-left: 15px;
}

header .menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
header .menu ul li {
    display: inline-block;
    margin-right: 18px;
    margin-left: 18px;
}
header .menu ul li a {
    text-transform: uppercase;
    text-decoration: none;
    color:#fff;
    font-weight: bold;
    transition: all 300ms;
}
header .menu ul li a:hover {
    color: #00acff;
}
/* End Header */
/* Start Hero */

.view  .titr {
    color: #00b698;
    padding-bottom: 100px;
    text-align: center;
    padding-top: 120px;
}
.product .img img:hover {
    transform: scale(1.1);
    border: 5px solid #00b698 ;
}

 .product {
   display: flex;
    color: #111;
    transition: all 300ms;
    text-align: center;
    background-color: #fff;
    
}
.product .pic h2:hover {
    background-color:#00b698;
    color: #fff;
    box-shadow: 0 0 10px rgba(0,172,255,0.5);
}
.product .pic h2 a {
    text-decoration: none;
}
.product .pic {
    flex: 0 0 25%;
    max-width: 25%;
}
 .product .pic img {
    width: 250px;
    height: 230px;
 }
 /* footer */
 .end .container {
    margin-top: 20px;
    display: flex;
    background-color:  #2e5751;
}
.end .container .left {
    flex: 0 0 50%;
    max-width: 50%;
    display: flex;
    text-align: right;
   
}
.end .container .right {
    display: inline-block;
    flex: 0 0 45%;
    max-width: 45%;
}

.end .container .left ul {
    
    display: inline-block;
    margin-right: 30px;
    
}
.end .container .left li {
    list-style: none;
    background: rgba(0,0,0,.1);
    color: #ccc;
    width: 200px;
    height: 50px;
    text-align: center;
  padding-top: 11px;
  margin-bottom: 5px;
  transition: all 500ms;
  outline: none;
    
}
.end .container .left li a{
    border: 1px solid rgba(0,0,0,.04);
    text-decoration: none;
    color:#fff;
    

}
.end .container .left li:hover {
    background-color: #111;
}

.end .container .left {
    display: flex;
    text-align: right;
    margin-top: 40px;
    margin-right: 30px;
}
.end .container .right {
    text-align: right;

}