@import url("all.min.css");
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: "Tahoma";
}
.container {
    padding-right: 15px;
    padding-left: 15px;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
/* Start Header */
header {
    top: 0;
    left: 0;
    width: 100%;
    background-color: #1a1919;
    opacity: 0.8;
    
}
header .row {
    align-items: center;
    justify-content: space-between; 
}
header .logo{
    flex: 0 0 20%;
    max-width: 20%;
    padding-right: 15px;
    padding-left: 15px;
}
header .logo img {
    width: 70px;
    height: 90px;
}
header .menu {
    flex: 0 0 60%;
    max-width: 60%;
    padding-right: 15px;
    padding-left: 15px;
}

header .menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
header .menu ul li {
    display: inline-block;
    margin-right: 18px;
    margin-left: 18px;
}
header .menu ul li a {
    text-transform: uppercase;
    text-decoration: none;
    color:#fff;
    font-weight: bold;
    transition: all 300ms;
}
header .menu ul li a:hover {
    color: #00acff;
}
/* End Header */
/* start see product */
.java .container{
    display: flex;
    flex: 0 0 100%;
    max-width: 100%;
}
.java .container .left {
    margin-top: 120px;
    flex: 0 0 40%;
    max-width: 40%;
    
}
.java .container .left .window {
    background-color: #1a1919;
}
.java .container .right {
    margin-top: 120px;
    flex: 0 0 60%;
    max-width: 60%; 
    background-color:  #1a1919;
    
    
    
}
.java .container .right h3 {
    text-align: center;
    color: #fff;
    
}
.java .row {
    display: flex;
    text-align: center;

}
.java .row .dataleft {
    flex: 0 0 33.3%;
    max-width: 33.3%;
}
.java .row .dataright {
    flex: 0 0 33.3%;
    max-width: 33.3%;
}
.java .row .datalogo {
    flex: 0 0 33.3%;
    max-width: 33.3%;
}
.java .row p {
    color: #fff;
}



    

